body {
  margin: 0;
  padding: 0;
}

/* Container division among all */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* Dashboard section */

.dashboard {
  background-color: rgb(108, 108, 211);
  grid-row: 1 / max;
  padding: 1em;
  display: grid;
  align-content: start;
  justify-items: start;
}

.dashboard ul,
.dashboard ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.dashboard ul {
  margin-bottom: 4rem;
}

.dashboard div img {
  width: 70px;
  height: 70px;
}

.logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

.dashboard div ul li img {
  width: 30px;
  height: 30px;
}

.alignDash {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* Heading section */

.heading {
  background-color: rgb(181, 202, 221);
  padding: 1em;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
}

.heading div {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.heading div input {
  border-radius: 20px;
  padding: 5px;
}

.stack li {
  list-style: none;
}

.stack li p,
.stack li h3 {
  margin: 0;
  padding: 0;
}

.buttonDesign button {
  background-color: blue;
  width: 5rem;
  height: 2rem;
  border: 2px blue;
  border-radius: 2em;
}

/* adding photos after completion */

.heading div img {
  width: 30px;
  height: 30px;
}

.heading div img[alt="logo"] {
  border-radius: 2em;
}

/* Completed basic layout */

/* This is project section */

.project {
  padding: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #95959b;
}

.projectName {
  width: 20rem;
  height: 10em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1em;
  background-color: white;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 1em;
}

.gridThem {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  align-content: center;
  justify-items: center;
}

.projectName h2 {
  margin: 0;
  padding: 0;
}

/* others section */

.others {
  display: grid;
  gap: 2em;
  margin: 1em;
}

.section {
  background-color: aliceblue;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px white;
  border-radius: 1em;
  height: auto;
  align-content: start;
}

/* after completion modifications */

.announcement div div p {
  display: grid;
  align-content: center;
  justify-items: center;
}
